.all-badge {
    display: inline-block;
    padding: 0.25em 0.5em;
    font-size: 12px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #007bff;
    border-radius: 4px;
}